<h1>Editar Utilizador</h1>

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p style="color: red">{{ message }}</p>
{% endfor %} {% endif %} {% endwith %}

<form method="POST" action="{{ url_for('main.editar_utilizador', user_id=user.id) }}">
  <input type="text" name="nome" value="{{ user.nome }}" required><br><br>

  <input type="text" name="username" value="{{ user.username }}" required><br><br>

  <input type="email" name="email" value="{{ user.email }}" required><br><br>

  <select name="estado" id="estado" style="width:180px">
    <option value="ativo" {% if user.estado.value == "ativo" %}selected{% endif %}>Ativo</option>
    <option value="inativo" {% if user.estado.value == "inativo" %}selected{% endif %}>Inativo</option>
  </select><br><br>

  <button type="submit">Guardar alterações</button>
  <a href="{{ url_for('main.listar_utilizadores') }}">
    <button type="button">Cancelar</button>
  </a>
</form>
