<!doctype html>
<html>
  <head>
    <title>EasySport</title>
  </head>

  <body>
    <h1>EasySport</h1>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p style="color: green">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %} {% if session.get("user_id") %}

    <p>Bem-vindo {{ session["username"] }}</p>

    {% if session.get("is_admin") %}

    <h3>Painel Administrador</h3>

    <a href="{{ url_for('main.listar_utilizadores') }}">
      <button>Gerir Utilizadores</button>
    </a>

    <br /><br />

    <a href="{{ url_for('main.listar_espacos_page') }}">
      <button>Ver Espaços</button>
    </a>

    <br /><br />

    <a href="{{ url_for('reservas.listar_reservas') }}">
      <button>Ver Reservas</button>
    </a>

    <br /><br />

    <a href="{{ url_for('main.espaco_page') }}">
      <button>Criar Espaço</button>
    </a>

    {% else %}

    <h3>Área Cliente</h3>

    <a href="{{ url_for('main.listar_espacos_page') }}">
      <button>Ver Espaços</button>
    </a>

    <br /><br />

    <a href="{{ url_for('reservas.reservar_page') }}">
      <button>Fazer Reserva</button>
    </a>

    <br /><br />

    <a href="{{ url_for('reservas.minha_reservas') }}">
      <button>Minhas Reservas</button>
    </a>

    <br /><br />

    <a href="{{ url_for('main.perfil_utilizador') }}">
      <button>Meu Perfil</button>
    </a>

    {% endif %}

    <br /><br />

    <a href="{{ url_for('auth.logout') }}">
      <button>Logout</button>
    </a>

    {% else %}

    <h3>Bem-vindo ao EasySport</h3>

    <a href="{{ url_for('auth.login_page') }}">
      <button>Login</button>
    </a>

    <br /><br />

    <a href="{{ url_for('auth.register_page') }}">
      <button>Registar</button>
    </a>

    {% endif %}
  </body>
</html>
